html, body {
    height: 100%; /* Add this to your CSS */
    margin: 0; /* Good practice to remove default margins */
}

header {
    background-color: blue;
}

body {
    background-color: gray;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 150px;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav, aside {
    flex: 1;
}

main {
    flex: 3;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}
